@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body, .parent {
    font-family: 'Square Peg', Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 3rem;
    background-color: #F5B041 !important;
    animation: fadeIn 1s ease-in;
}

#home {
    font-size: 5rem;
    color: darkmagenta;
    margin-top: 3rem;
    animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pf-link {
    font-size: 3rem !important;
    color: black;
    transition: color 0.5s ease;
    text-decoration: none;
}

.back {
    color: darkmagenta;
}

img.resize {
    width: 10%;
    height: auto;
    margin-top: 7rem;
}

.generic-text {
    font-size: 2rem;
    color: darkslategray;
}

.special-headers {
    margin-top: 10rem !important;
}