@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body {
    font-family: 'Square Peg', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    background-color: #F5B041;
}

#home {
    font-size: 5rem;
    color: darkmagenta;
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    margin-top: 3rem;

}

.link {
    font-size: 4rem !important;
    color: black;
    transition: color 0.5s ease;
    text-decoration: none;

    
}

.link:hover {
    color: darkmagenta;
}