@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body {
    font-family: 'Square Peg', cursive, Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 3rem;
    background-color: #F5B041 !important;
}

#home {
    font-size: 5rem;
    color: darkmagenta;
    margin-top: 3rem;
    animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pf-link {
    font-size: 3rem !important;
    color: black;
    transition: color 0.5s ease;
    text-decoration: none;
}